{% include 'header.html' %}

<div id="page">
    <div id="content">
		<h1>Informed Consent</h1>

		<div> This survey is part of a research study conducted by Dr. Stephen B. Broomell, Patrick Kane, Manojit Nandi, and Jon-Francis Winkles at Carnegie Mellon University. The purpose of the research is to examine the psychological processes by which people understand scientific research results. <br> <br>
		
		<b>Procedures</b><br>  
		In this study, you will be exposed to stimuli and we will record the judgments and decisions that you will make. We will ask you about your perceptions of temperatures.<br><br>

		<b>Participant Requirements</b><br>  
		You must be 18 years of age, be able to use a computer, and speak English fluently. <br> <br> 

		<b>Risks</b><br>  
		The risks and discomfort associated with participation in this study are no greater than those ordinarily encountered in daily life or during other online activities. <br><br> 

		<b>Benefits</b><br>  
		There may be no personal benefit from your participation in the study but the knowledge received may be of value to humanity.<br><br> 
		<b>Compensation & Costs</b><br>  
		You will receive the panel payment rate for your participation in this experiment. <br><br>
		There will be no cost to you if you participate in this study.<br><br> 

		<b>Confidentiality</b><br>  
		The data captured for the research does not include any personally identifiable information about you.  Your IP address may be used to verify your location, but will not be recorded.<br><br>
		By participating in this research, you understand and agree that Carnegie Mellon may be required to disclose your consent form, data and other personally identifiable information as required by law, regulation, subpoena or court order.  Otherwise, your confidentiality will be maintained in the following manner:<br><br>
		Your data and consent form will be kept separate. Your consent form will be stored in a locked location on Carnegie Mellon property and will not be disclosed to third parties. By participating, you understand and agree that the data and information gathered during this study may be used by Carnegie Mellon and published and/or disclosed by Carnegie Mellon to others outside of Carnegie Mellon.  However, your name, address, contact information and other direct personal identifiers in your consent form will not be mentioned in any such publication or dissemination of the research data and/or results by Carnegie Mellon.<br><br>  

		<b>Right to Ask Questions & Contact Information</b><br>  
		If you have any questions about this study, you should feel free to ask them by contacting the Principal Investigator: Dr. Stephen B. Broomell, Assistant Professor of Social and Decisions Sciences, 5000 Forbes Ave., 208 Porter Hall, Pittsburgh, PA 15213; Phone: 412-268-3224; Email: broomell@cmu.edu.  If you have questions later, desire additional information, or wish to withdraw your participation please contact the Principle Investigator by mail, phone or e-mail in accordance with the contact information listed above.   <br><br>
		If you have questions pertaining to your rights as a research participant; or to report objections to this study, you should contact the Research Regulatory Compliance Office at Carnegie Mellon University.  Email: irb-review@andrew.cmu.edu . Phone: 412-268-1901 or 412-268-5460.<br><br> 

		<b>Voluntary Participation</b><br>  
		Your participation in this research is voluntary.  You may discontinue at any time during the research activity.<br><br>

		</div>

		<form action="" method="post">
	        {% csrf_token %}
	        <table>
	        	{{ form }}
        	</table>
	        <input type="submit" value="Submit" />
	    </form>
    </div>
</div>

{% include 'footer.html' %}