{% include 'header.html' %}

<div id="page">
    <div id="content">
		<h1>Informed Consent</h1>

		<div> This survey is part of a research study conducted by Drs. Stephen Broomell and Patrick Kane at Carnegie Mellon University.
 
		The purpose of this research is to understand how well people can detect changes in their environment.
		 
		Procedures 
		We will ask you to make judgments about temperature readings from an industrial machine to see if it is functioning properly.  We will also ask about your judgments, preferences, and general demographic information.
		 
		Participant Requirements 
		Participation in this study is limited to individuals age 18 and older. 
		 
		Risks
		The risks and discomfort associated with participation in this study are no greater than those ordinarily encountered in daily life or during other online activities. 
		 
		Benefits
		There may be no personal benefit from your participation in the study but the knowledge received may be of value to humanity. 
		 
		Compensation & Costs
		You will be paid the standard survey rate from ClearVoice.com. There will be no cost to you if you participate in this study. 
		 
		Confidentiality
		The data captured for the research does not include any personally identifiable information about you. Your IP address will not be captured.
		 
		Right to Ask Questions & Contact Information
		If you have any questions about this study, you should feel free to ask them by contacting the Principal Investigator now at Dr. Stephen Broomell, Department of Social and Decision Sciences, 5000 Forbes Ave. Pittsburgh, PA, 15213, 412-268-3224, broomell@cmu.edu.  If you have questions later, desire additional information, or wish to withdraw your participation please contact the Principal Investigator by mail, phone or e-mail in accordance with the contact information listed above. 
		 
		If you have questions pertaining to your rights as a research participant; or to report objections to this study, you should contact the Office of Research integrity and Compliance at Carnegie Mellon University.  Email: irb-review@andrew.cmu.edu . Phone: 412-268-1901 or 412-268-5460.
		 
		Voluntary Participation
		Your participation in this research is voluntary.  You may discontinue participation at any time during the research activity.  


		</div>

		<form action="" method="post">
	        {% csrf_token %}
	        <table>
	        	{{ form }}
        	</table>
	        <input type="submit" value="Submit" />
	    </form>
    </div>
</div>

{% include 'footer.html' %}