{% include 'header.html' %}

	<div id="content">
			
		<div>
			
			<h3>Survey</h3>

			<p>This is the distribution of a 1000 daily temperatures from a properly functioning machine</p>

			{{ condition_img }}

			<p>A Malfunctioning machine will have daily temperature readings that are on average {{ number_on_average_in_units}} degrees {{ unit }} warmer than a properly functioning machine.</p>

			<p>Week {{ current_trial }}:</p>

			<table>
				<tr>
					<th>Sunday</th>
					<th>Monday</th>
					<th>Tuesday</th>
					<th>Wednesday</th>
					<th>Thursday</th>
					<th>Friday</th>
					<th>Saturday</th>
				</tr>
				<tr>
					<td>{{ temp1 }}</td>
					<td>{{ temp2 }}</td>
					<td>{{ temp3 }}</td>
					<td>{{ temp4 }}</td>
					<td>{{ temp5 }}</td>
					<td>{{ temp6 }}</td>
					<td>{{ temp7 }}</td>
				</tr>
			</table>
		</div>

		<form method="post">
			{% csrf_token %}
			{{ form1 }}
			<input type="submit" value="Next">
		</form>

		{% load widget_tweaks %}

	</div>

{% include 'footer.html' %}